ollama
ollama-python
gTTS
pygame
openai-whisper
SpeechRecognition
googlesearch-python
google-api-python-client
langchain
langchain_community
beautifulsoup4
chromadb
gradio
python-docx
pydub
ffmpeg
playsound
pyinstaller